* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: antiquewhite;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 4rem;
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
