ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

ul li {
  list-style-type: none;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
}

li span {
  display: block;
  font-size: 5rem;
  color: sienna;
}

.separator {
  font-size: 5rem;
  line-height: 1;
  color: sienna;
}

.container1 {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: #333;
}

/* Added spacing between days and hours, minutes, and seconds */
#days {
  margin-right: 40px; /* Increase this value for more space */
}

#hours, #minutes, #seconds {
  margin-left: 10px;
  margin-right: 10px;
}

.section {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  color: black;
  font-size: 20px;
  text-align: center;
  height: 400px;
  width: 150%;
  border-radius: 15px; 
}

#section1 {
  background-color: sienna; 
}

#section2 {
  background-color: sienna; 
}

#section3 {
  background-color: sienna; 
}

#section4 {
  background-color: sienna; 
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: antiquewhite;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-left-btn {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.writings-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.writing-item {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 10px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.artist, .rating {
  font-size: 1.2rem;
  color: #333;
}
